<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page/log.css') }}">
</head>
<body style="background: url({{ url_for('static', filename='landing_page/l.jpg') }})no-repeat;">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form onsubmit="event.preventDefault();">
				<h1>Log In</h1>
				
				<input id="emailId" type="email" placeholder="Email" />
				<input id="password" type="password" placeholder="Password" />
				<a onclick="alert('Work in progress.')">Forgot your password?</a>
				<button onclick="login()">log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<a href="/signup"><button class="ghost" id="signUp">Sign Up</button></a>			</div>
			</div>
		</div>
	</div>
	<script>
		login = () => {
			if(document.getElementById("emailId").value == localStorage.emailId && document.getElementById("password").value == localStorage.password){
				window.location.href = "/dashboard";
			}
			else{
				alert("User not found!!")
			}
		}
	</script>
</body>
</html>
