<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page/log.css') }}">
</head>
<body style="background: url({{ url_for('static', filename='landing_page/l.jpg') }})no-repeat;">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form onsubmit="event.preventDefault();">
				<h1>Log In</h1>
				
				<input id="emailId" type="email" placeholder="Email" />
				<input id="password" type="password" placeholder="Password" />
				<a onclick="alert('Work in progress.')">Forgot your password?</a>
				<button onclick="login()">log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<a href="/signup"><button class="ghost" id="signUp">Sign Up</button></a>			</div>
			</div>
		</div>
	</div>
	<script>
		login = () => {
			loginData = {
				'emailId': document.getElementById("emailId").value,
				'password': document.getElementById("password").value
			}
			var settings = {
				"async": true,
				"crossDomain": true,
				"url": "http://127.0.0.1:5000/login",
				"method": "POST",
				"data": JSON.stringify(loginData)
			}

			$.ajax(settings).done(function (response) {
				if(response.success == true){
					localStorage.userData = JSON.parse(response.userData);
					window.location.href = "/dashboard";
				}else
					alert(response.message)
			});
		}
	</script>
</body>
</html>
