<html>
<head>
	<title>BOOKO</title>
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo.png') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='landing_page/signin.css') }}">
</head>
<body style="background: url({{ url_for('static', filename='landing_page/l.jpg') }})no-repeat;">
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form onsubmit="event.preventDefault();">
				<h1>Sign Up</h1>
				
				
				<input id="emailId" type="email" placeholder="Email" />
				<input id="username" type="username" placeholder="Username" />
				<input id="password" type="password" placeholder="Password" />
				
				<button onclick="signup()">Sign up</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello!</h1>
					<p>If you already have an account Log in</p>
					<a href="/login"><button class="ghost" id="login">log in</button</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		signup = () => {
			signUpData = {
				'userName': document.getElementById("username").value,
				'firstName': "",
				'lastName': "",
				'phoneNo': "",
				'emailId': document.getElementById("emailId").value,
				'password': document.getElementById("password").value,
				'interests': ""
			}
			var settings = {
				"async": true,
				"crossDomain": true,
				"url": "http://127.0.0.1:5000/signup",
				"method": "POST",
				"data": JSON.stringify(signUpData)
			}

			$.ajax(settings).done(function (response) {
				if(response.success == true){
					localStorage.userData = response.userData;
					localStorage.login = true;
					window.location.href = "/dashboard";
				}else
					alert(response.message)
			});
			
		}
	</script>
</body>
</html>
