<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <title>BOOKO</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notifications-bell.css') }}">
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" /> 
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <style>
        .box{
            border-radius: 4px;
            text-align: center;
            margin: 25px;
            box-shadow: 1px 1px 5px 1px #888888;
        }
        .purchase-button{
            background-color: green;
            border: 0;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 7px;
        }
        /* The Modal (background) */
        .modal-booko {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content-booko {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
        }

        /* Add Animation */
        @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
        }

        @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
        }

        /* The Close Button */
        .close-booko {
        color: #615a5acc;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }

        .close-booko:hover,
        .close-booko:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        }

        .modal-header-booko {
        padding: 20px 20px;
        background-color: #dfecdf;
        color: #191a1b;
        }

        .modal-body-booko {padding: 2px 16px;}
    </style>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- <link href="cat.css" rel="stylesheet"> -->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/dashboard">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="{{ url_for('static', filename='img/logo.png') }}"" style="widows: 40px;height: 30px;" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <h3 style="color: black; padding-top: 15px; padding-bottom: 12px; padding-left: 20px; font-family: Calibri, sans-serif;font-weight: bold;">BOOKO</h3>
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <!-- ============================================================== -->
                        <!-- User profile avatar -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="{{ url_for('static', filename='plugins/images/users/avatar.jpg') }}" alt="user-img" width="36"
                                    class="img-circle"><span id="profile-name" class="text-white font-medium">Steave</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile avatar -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- Home -->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard"
                                aria-expanded="false">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li>
                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/profile"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">My Profile</span>
                            </a>
                        </li>
                        <!-- Posts books -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/sell-books"
                                aria-expanded="false">
                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                <span class="hide-menu">Sell Books</span>
                            </a>
                        </li>
                        <!-- View your books -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/my-books"
                                aria-expanded="false">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <span class="hide-menu">My Books</span>
                            </a>
                        </li>
                        <!-- Categories -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/categories"
                                aria-expanded="false">
                                <i class="fa fa-sitemap" aria-hidden="true"></i>
                                <span class="hide-menu">Categories</span>
                            </a>
                        </li>
                        <!-- Notifications -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/notifications"
                                id="notifications-sidebar" aria-expanded="false">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                <span class="hide-menu">Notifications</span>
                            </a>
                        </li>
                        <!-- Logout -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" 
                                href = "/login"
                                aria-expanded="false">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Categories</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="white-box row">
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Adventure')">
		                <img src="{{ url_for('static', filename='img/adventure.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">ADVENTURE</b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Classics')">
		                <img src="{{ url_for('static', filename='img/cl.jpg') }}" class style="width: 25%;" />
		                <b style="margin-top: 10px;">CLASSICS </b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Comics')">
		                <img src="{{ url_for('static', filename='img/co.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">COMICS</b>
                        </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Detective')">
		                <img src="{{ url_for('static', filename='img/de.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">DETECTIVE</b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Fantasy')">
		                <img src="{{ url_for('static', filename='img/fa.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">FANTASY</b>
		                </div>
		                <div class="box col-md-3" style="text-align: center;" onclick="open_category('Horror')">
		                <img src="{{ url_for('static', filename='img/ho.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">HORROR</b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Romance')">
		                <img src="{{ url_for('static', filename='img/ro.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">ROMANCE</b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Sci-fi')">
		                <img src="{{ url_for('static', filename='img/sci.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">SCI-FI</b>
		                </div>
		                <div class="box col-md-3" style="text-align: center;" onclick="open_category('Thrillers')">
		                <img src="{{ url_for('static', filename='img/th.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">THRILLERS</b>
		                </div>
                        <div class="box col-md-3" style="text-align: center;" onclick="open_category('Autobiographies')">
                        <img src="{{ url_for('static', filename='img/au.jpg') }}" style="width: 25%;" />
                        <b style="margin-top: 10px;">AUTOBIOGRAPHIES</b>
		                </div>
		                <div class="box col-md-3" style="text-align: center;" onclick="open_category('History')">
		                <img src="{{ url_for('static', filename='img/hi.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">HISTORY</b>
		                </div>
		                <div class="box col-md-3" style="text-align: center;" onclick="open_category('Self-help')">
		                <img src="{{ url_for('static', filename='img/se.jpg') }}" style="width: 25%;" />
		                <b style="margin-top: 10px;">SELF-HELP</b>
                        </div>

                        <!-- The Modal -->
                        <div style="z-index: 1000;" id="myModal" class="modal-booko">

                            <!-- Modal content -->
                            <div class="modal-content-booko">
                            <div class="modal-header-booko">
                                <span class="close-booko">&times;</span>
                                <h2>Request your favourite book</h2>
                            </div>
                            <div id="content" class="modal-body-booko" style="padding:5%">
                                
                            </div>
                            </div>
                        
                        </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app-style-switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist/dist/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/dashboards/dashboard1.js') }}"></script>
    <script>
        userData = JSON.parse(localStorage.userData)
        document.getElementById("profile-name").innerHTML = userData.userName;
        var modal = document.getElementById("myModal");
        $.noConflict();

        request_book = (name, owner) => {
            var request = {
                name: name,
                owner: owner,
                requested: userData.userName
            }
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/request-book",
                "method": "POST",
                "data": JSON.stringify(request)
            }
            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response);
                    temp = JSON.parse(userData.requested)
                    temp.push([request.name, request.owner])
                    userData.requested = JSON.stringify(temp)
                    localStorage.userData = JSON.stringify(userData)
                    swal("Done !", response.message, "success");
                }else{
                    if(response.warn)
                        swal("Failed :(", response.message, "warning");
                    else    
                        swal("Failed :(", response.message, "error");
                }
            });
        }

        open_category = (str) => {
            var request = {
                type: "categories",
                genre: str,
                email: userData.emailId
            }
            document.getElementById("content").innerHTML = "<table id='categories" + str + "' class='display' width='100%'></table>"
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/all-books",
                "method": "POST",
                "data": JSON.stringify(request)
            }

            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response);
                    for(i in response.books){
                        console.log(i)
                        response.books[i].splice(2,1) // splice out categories
                        response.books[i].push("<div onclick=\"request_book('"+response.books[i][1]+"','"+response.books[i][3]+"')\" class='purchase-button' onclick>Request</div>")
                    }
                    filteredBooks = []
                    for(i in response.books){
                        if(response.books[i][3] != userData.userName) // filter out his books
                            filteredBooks.push(response.books[i])
                    }
                    console.log("Received Books :", response.books)
                    console.log("Filtered books : ", filteredBooks)
                    $('#categories'+str).DataTable( {
                            data: filteredBooks,
                            iDisplayLength: 3,
                            oLanguage: {
                                sEmptyTable: "No Books found !!"
                            },
                            columns: [
                                { title: "#" },
                                { title: "Book" },
                                { title: "Author" },
                                { title: "Owner" },
                                { title: "Description" },
                                { title: " " }
                            ],
                            fnInitComplete: function (oSettings, json) {
                                document.getElementById('categories'+str+'_filter').childNodes[0].childNodes[1].placeholder = "Search for Books.."
                            }
                        } );
                    modal.style.display = "block";
                }else{
                    console.log(response);
                }
            });
        } 

        checkNotifications = () => {

            var notifications_show = false;
            var request = {
                type: "requests",
                email: userData.emailId
            }

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/get-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }
            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    if(JSON.parse(response.requests).length != 0){
                        console.log(response.requests)
                        notifications_show = true
                    }
                    else{
                        notifications_show = false
                    }
                            
                    var request = {
                        type: "requested",
                        email: userData.emailId
                    }

                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "http://127.0.0.1:5000/get-requests",
                        "method": "POST",
                        "data": JSON.stringify(request)
                    }
                    $.ajax(settings).done(function (response) {
                        if(response.success == true){
                            requests = JSON.parse(JSON.stringify(response.requests))
                            requests = JSON.parse(requests)
                            requests.approved = JSON.parse(requests.approved)
                            requests.rejected = JSON.parse(requests.rejected)
                            if(requests.approved.length != 0 || requests.rejected.length != 0 ){
                                notifications_show = true
                            }
                            else{
                                notifications_show == false
                            }
                        }else{
                            console.log(response)
                        }
                        if(notifications_show){
                            console.log("New notifications")
                            $("#notifications-sidebar").append("<i class='fa fa-bell' style='color: red;float: right;margin-left: 30%;'></i>")
                        }
                        else 
                            console.log("No new notifications")
                    });
                }else
                    console.log(response)
            });
        }
        checkNotifications()

        var span = document.getElementsByClassName("close-booko")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>
</body>

</html>