<!DOCTYPE html>
<html dir="ltr" lang="en">
    
<head>
    <title>BOOKO</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notifications-bell.css') }}">
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Custom CSS -->
    <style>
        .box{
            /* border: 1px solid rgb(85, 81, 81); */
            border-radius: 4px;
            text-align: center;
            margin: 15px;
            box-shadow: 1px 1px 5px 1px #888888;
        }
        .call-button{
            background-color: rgb(20, 172, 20);
            border: 0;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
            padding: 7px;
            width: 100%;
            border-radius: 4px;
        }
        .mail-button{
            background-color: rgb(86, 178, 209);
            border: 0;
            color: white;
            font-weight: bold;
            margin-top: 10px;
            text-align: center;
            padding: 7px;
            width: 100%;
            border-radius: 4px;
        }
        .approve-button{
            background-color: rgb(20, 172, 20);
            border: 0;
            color: white;
            font-weight: bold;
            margin-top: 10px;
            text-align: center;
            padding: 7px;
            width: 100%;
            border-radius: 4px;
        }
        .decline-button{
            background-color: rgb(172, 38, 20);
            border: 0;
            color: white;
            font-weight: bold;
            margin-top: 10px;
            text-align: center;
            padding: 7px;
            width: 100%;
            border-radius: 4px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/dashboard">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!-- Dark Logo icon -->
                            <img src="{{ url_for('static', filename='img/logo.png') }}" style="widows: 40px;height: 30px;" alt="homepage" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <h3 style="color: black; padding-top: 15px; padding-bottom: 12px; padding-left: 20px; font-family: Calibri, sans-serif;font-weight: bold;">BOOKO</h3>
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav d-none d-md-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-toggler nav-link waves-effect waves-light text-white"
                                href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <!-- ============================================================== -->
                        <!-- User profile avatar -->
                        <!-- ============================================================== -->
                        <li>
                            <a class="profile-pic" href="#">
                                <img src="{{ url_for('static', filename='plugins/images/users/varun.jpg') }}" alt="user-img" width="36"
                                    class="img-circle"><span id="profile-name" class="text-white font-medium">Steave</span></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile avatar -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- Home -->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard"
                                aria-expanded="false">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li>
                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/profile"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">My Profile</span>
                            </a>
                        </li>
                        <!-- Posts books -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/sell-books"
                                aria-expanded="false">
                                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                <span class="hide-menu">Sell Books</span>
                            </a>
                        </li>
                        <!-- View your books -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/my-books"
                                aria-expanded="false">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <span class="hide-menu">My Books</span>
                            </a>
                        </li>
                        <!-- Categories -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/categories"
                                aria-expanded="false">
                                <i class="fa fa-sitemap" aria-hidden="true"></i>
                                <span class="hide-menu">Categories</span>
                            </a>
                        </li>
                        <!-- Notifications -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/notifications"
                            id="notifications-sidebar" aria-expanded="false">
                                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                <span class="hide-menu">Notifications</span>
                            </a>
                        </li>
                        <!-- Logout -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" 
                                href = "/login"
                                aria-expanded="false">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Notifications</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box row" style="width: 100%;">
                            <div class="row">
                                <h3 class="box-title">Requests for your books.</h3>
                                <div id="requests" class="row">
                                    <h5>Nothing to show!!.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box row" style="width: 100%;">
                            <h3 class="box-title">Status of your requests</h3>
                            <div id="requested" class="row">
                                <h5>Nothing to show!!.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app-style-switcher.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ url_for('static', filename='js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist/dist/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/dashboards/dashboard1.js') }}"></script>
    <script>
        userData = JSON.parse(localStorage.userData)
        document.getElementById("profile-name").innerHTML = userData.userName;

        check_requests = () => {
            
            var request = {
                type: "requests",    
                email: userData.emailId
            }

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/get-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }

            $.ajax(settings).done(function (response) {
                console.log("Checked Requests",response)
                if(response.success == true){
                    requests = JSON.parse(response.requests)
                    console.log("Received requests : ", requests)
                    if(requests.length != 0){
                        $("#requests").html("");
                        for(i in requests){
                            for(j in requests[i][1]){
                                $("#requests").append(
                                    "<div class='box col-md-3'>"+
                                    "<h4><b>Book : </b>"+ requests[i][0] +"</h4>"+
                                    "<p><b>Owner : </b>"+ requests[i][1][j] +"</p>"+
                                    "<div class='row'>"+
                                    "<a class='col-md-6'><button class='approve-button' onclick=\"approve('"+ requests[i][0] +"','"+ requests[i][1][j] +"')\">Approve</button></a>"+
                                    "<a class='col-md-6'><button class='decline-button' onclick=\"reject('"+ requests[i][0] +"','"+ requests[i][1][j] +"')\">Decline</button></a>"+
                                    "</div>"+
                                "</div>"
                                )
                            }
                        }
                    }
                    else{
                        $("#requests").html("<h5>Nothing to show!!.</h5>")
                    }
                }else
                    console.log(response)
            });
        }

        check_status = () => {
            
            var request = {
                type: "requested",
                email: userData.emailId
            }

            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/get-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }

            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response)
                    requests = JSON.parse(response.requests)
                    console.log("Received request status : ", requests)
                    requests.approved = JSON.parse(requests.approved);
                    requests.rejected = JSON.parse(requests.rejected);
                    if(requests.approved.length != 0 || requests.rejected.length != 0){
                        $("#requested").html("");
                        for(i in requests.approved){
                            $("#requested").append(
                                "<div class='box col-md-3'>"+
                                    "<i onclick=\"removeRequest(\'"+ requests.approved[i][0] +"','"+ requests.approved[i][1] +"')\" style='float: right;' class='fa fa-close'></i>"+
                                    "<h4><b>Book : </b>"+ requests.approved[i][0] +"</h4>"+
                                    "<p><b>Owner : </b>"+ requests.approved[i][1] +"</p>"+
                                    "<h5><b>Status : <span style='color:green'>Approved</span></b></h5>"+
                                    "<div class='row'>"+
                                    "<a href='mailto:"+ requests.approved[i][2] +"' class='col-md-6'><button class='call-button'><i class='fa fa-envelope-o' aria-hidden='true'></i> Mail</button></a>"+
                                    "<a href='tel:"+ requests.approved[i][3] +"' class='col-md-6'><button class='mail-button'><i class='fa fa-phone' aria-hidden='true'></i> Call</button></a>"+
                                    "</div>"+
                                "</div>"
                            )
                        }
                        for(i in requests.rejected){
                            $("#requested").append(
                                "<div class='box col-md-3'>"+
                                    "<i onclick=\"removeRequest(\'"+ requests.rejected[i][0] +"','"+ requests.rejected[i][1] +"')\" style='float: right;' class='fa fa-close'></i>"+
                                    "<h4><b>Book : </b>"+ requests.rejected[i][0] +"</h4>"+
                                    "<p><b>Owner : </b>"+ requests.rejected[i][1] +"</p>"+
                                    "<h5><b>Status : <span style='color:red'>Rejected</span></b></h5>"+
                                "</div>"
                            )
                        }
                    }
                    else{
                        $("#requested").html("<h5>Nothing to show!!.</h5>")
                    }
                }else
                    console.log(response)
            });
        }

        check_requests()
        check_status()

        removeRequest = (bookName, owner) => {
            console.log("Removing Book : ", bookName, "Owner : ", owner)
            
            var request = {
                name: bookName,
                owner: owner,
                email: userData.emailId
            }
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/remove-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }
            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response)
                    swal("Done !!", response.message, "success");
                }else{
                    console.log(response)
                    swal("Failed :(", response.message, "error");
                }
                check_status()
            }); 
        }

        approve = (bookName, requestee) => {
            var request = {
                approve: true,
                name: bookName,
                requestee: requestee,
                owner: userData.emailId
            }
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/respond-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }
            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response)
                    swal("Done !", "Approved request from '"+ requestee +"' for '"+ bookName +"' book", "success");
                }else
                    console.log(response)
            }); 
            setTimeout(check_requests(),5000)
        }

        reject = (bookName, requestee) => {
            var request = {
                approve: false,
                name: bookName,
                requestee: requestee,
                owner: userData.emailId
            }
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://127.0.0.1:5000/respond-requests",
                "method": "POST",
                "data": JSON.stringify(request)
            }
            $.ajax(settings).done(function (response) {
                if(response.success == true){
                    console.log(response)
                    swal("Done !", "Rejected request from '"+ requestee +"' for '"+ bookName +"' book", "error");
                }else{
                    console.log(response)
                    swal("Failed !", response.message, "error");
                }
            });
            setTimeout(check_requests(),5000)
        }
    </script>
</body>

</html>